<p><img width='100' src='{{flags.svg}}' alt='{{flags.alt}}' /><strong></strong>
    {{name.official}}</strong>
</p>
<p>Capital: {{capital}}</p>
<p>Population: {{population}}</p>
<p>Languages: {{#each languages}}
  {{this}}
  {{/each}}</p>