<p><img width='50' src='{{flags.svg}}' alt='{{flags.alt}}' />
  <b>
    {{name.official}}
  </b>
</p>
<p><b>Capital: </b>{{capital}}</p>
<p><b>Population: </b>{{population}}</p>
<p><b>Languages: </b>{{#each languages}}
    {{this}}
  {{/each}}</p>