{{#each this}}
  <div class='photo-card'>
    <a href='{{this.largeImageURL}}'>
      <img
        src='{{this.webformatURL}}'
        alt='{{this.tags}}'
        title='{{this.tags}}'
        loading='lazy'
      />
    </a>

    <div class='info'>
      <p class='info-item'>
        <b>Likes {{this.likes}}</b>
        <b>{{this.likes}}</b>
      </p>
      <p class='info-item'>
        <b>Views {{this.views}}</b>
        <b>{{this.views}}</b>
      </p>
      <p class='info-item'>
        <b>Comments</b>
        <b>{{this.comments}}</b>
      </p>
      <p class='info-item'>
        <b>Downloads</b>
      </p>
    </div>
  </div>
{{/each}}